.DS_Store
.DS_Store?
._*
__pycache__
.ipynb_checkpoints

input_data/test_data.npy
input_data/label.npy
input_data/test_label.npy
input_data/WIDE12H_bin2_2arcmin_kappa.npy
input_data/WIDE12H_bin2_2arcmin_mask.npy

reference_data/label.npy
reference_data/test_label.npy
reference_data/label_test.npy



input_data.zip

PowerSpectrumAnalysis.ipynb
generate_dummy_submission.py
